body{
    background-color: blue;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}
h1{
    color: #d4a373;
    text-align: center;
    font-size: 40px;
}
h2{
    color: #6a994e;
}
h3{
    color: #f2e8cf;
}
a{
    color: azure;
}

.image-format {
    width: 200px;
    height: 100px;
}

.paragraph-format {
    margin-bottom: 70px;
}

section {
    color:black;
    background-color: cornsilk;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 8px 2px 4px 8px black;
}

header, footer {
    background-color:forestgreen;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.links {
    color: black;
}

ul {
    list-style-type: circle;
    text-align: center;
}

li {
    list-style-type: circle;
    text-align: left;
}

.list-no-style {
    list-style: none;
    font-size: 25px;
    text-align: center;
}

.global-header {
    text-align: center;
}

tr {
    text-align: left;
}

#table-header {
    font-size: 18px;
}